.floating-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.3rem;
    opacity: 0.1;
    transition: opacity 0.5s;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}